*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
  }


.cards {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    font-family: sans-serif;
    padding-top: 30px;  
  }
  
  
  .card__content {
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background: #fafafa;
    border-top: 2px solid #333333;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333;
    min-height: 117px;
  }
  
  .card__content>p:first-of-type {
    margin-top: 0;
  }
  
  .card__content>p:last-of-type {
    margin-bottom: 0;
  }
  
  .card__info {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555555;
    background: #eeeeee;
    font-size: 0.8em;
    border-bottom: 2px solid #333333;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333;
  }
  
  button {
   
    min-width: 55px;
    max-height: 25px;
    cursor: pointer;
    color: #fff;
    background: #27ae60;
    padding: 5px;
    margin: 2px;
  }
  
  button:hover{
    background: #2ecc71;
  }
  